{% extends 'base_form.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block body %}
    <section class="max-w-xl w-full grid gap-8">
        <a href="{{ path('app_home') }}" class="w-32 m-auto">
            <img src="{{ asset("uploads/logo.svg") }}" alt="">
        </a>

        <h2 class="text-center">Connexion</h2>

        <form method="post" class="grid gap-4">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <div>
                <label class="form-label" for="inputEmail">Email</label>
                <input class="form-input" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
            </div>
            <div>
                <label class="form-label" for="inputPassword">Mot de passe</label>
                <input class="form-input" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="flex justify-center">
                <button class="form-submit" type="submit">Connexion</button>
            </div>
        </form>
    </section>
{% endblock %}
