{% extends 'base_form.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block body %}
    <section class="max-w-xl w-full grid gap-8">
        <a href="{{ path('app_home') }}" class="w-32 m-auto">
            <svg viewBox="0 0 89 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M85.84 72.528C85.84 76.624 84.72 79.952 82.48 82.512C80.304 85.072 77.36 86.96 73.648 88.176C69.936 89.392 65.84 90 61.36 90H27.856V21.84H67.408C70.608 21.84 73.36 22.704 75.664 24.432C78.032 26.096 79.824 28.272 81.04 30.96C82.32 33.648 82.96 36.432 82.96 39.312C82.96 42.448 82.128 45.488 80.464 48.432C78.864 51.376 76.432 53.584 73.168 55.056C77.072 56.208 80.144 58.224 82.384 61.104C84.688 63.984 85.84 67.792 85.84 72.528ZM66.832 68.688C66.832 67.536 66.608 66.544 66.16 65.712C65.776 64.816 65.232 64.112 64.528 63.6C63.824 63.088 62.992 62.832 62.032 62.832H46.576V74.256H61.36C62.384 74.256 63.312 74.032 64.144 73.584C64.976 73.136 65.616 72.496 66.064 71.664C66.576 70.832 66.832 69.84 66.832 68.688ZM46.576 37.776V48.24H59.344C60.176 48.24 60.976 48.112 61.744 47.856C62.512 47.536 63.152 46.992 63.664 46.224C64.176 45.456 64.432 44.368 64.432 42.96C64.432 41.68 64.208 40.688 63.76 39.984C63.376 39.216 62.832 38.672 62.128 38.352C61.488 37.968 60.752 37.776 59.92 37.776H46.576Z" fill="#1F2937"/>
                <path d="M47.136 44.112C47.136 44.112 46.592 43.792 45.504 43.152C44.416 42.512 42.976 41.808 41.184 41.04C39.392 40.208 37.44 39.472 35.328 38.832C33.216 38.192 31.136 37.872 29.088 37.872C27.488 37.872 26.176 38.128 25.152 38.64C24.128 39.152 23.616 40.016 23.616 41.232C23.616 42.384 24.128 43.312 25.152 44.016C26.176 44.72 27.616 45.36 29.472 45.936C31.392 46.512 33.664 47.216 36.288 48.048C40.512 49.328 44.16 50.8 47.232 52.464C50.304 54.128 52.672 56.272 54.336 58.896C56 61.456 56.832 64.88 56.832 69.168C56.832 73.264 56.096 76.72 54.624 79.536C53.152 82.288 51.168 84.496 48.672 86.16C46.176 87.824 43.392 89.04 40.32 89.808C37.248 90.512 34.112 90.864 30.912 90.864C27.648 90.864 24.224 90.544 20.64 89.904C17.12 89.2 13.696 88.272 10.368 87.12C7.04 85.904 4 84.496 1.248 82.896L9.312 66.48C9.312 66.48 9.952 66.864 11.232 67.632C12.512 68.4 14.208 69.264 16.32 70.224C18.432 71.184 20.768 72.048 23.328 72.816C25.952 73.584 28.576 73.968 31.2 73.968C33.248 73.968 34.656 73.712 35.424 73.2C36.256 72.624 36.672 71.888 36.672 70.992C36.672 69.648 35.968 68.624 34.56 67.92C33.152 67.152 31.296 66.448 28.992 65.808C26.752 65.104 24.256 64.304 21.504 63.408C17.536 62.064 14.272 60.56 11.712 58.896C9.152 57.168 7.264 55.152 6.048 52.848C4.832 50.48 4.224 47.632 4.224 44.304C4.224 39.248 5.408 35.024 7.776 31.632C10.144 28.24 13.248 25.68 17.088 23.952C20.992 22.16 25.184 21.264 29.664 21.264C32.992 21.264 36.192 21.68 39.264 22.512C42.4 23.28 45.312 24.24 48 25.392C50.752 26.544 53.152 27.632 55.2 28.656L47.136 44.112Z" fill="#7BFE14" fill-opacity="0.8"/>
            </svg>
        </a>

        <h2 class="text-center">Connexion</h2>

        <form method="post" class="grid gap-4">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <div>
                <label class="form-label" for="inputEmail">Email</label>
                <input class="form-input" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
            </div>
            <div>
                <label class="form-label" for="inputPassword">Mot de passe</label>
                <input class="form-input" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="flex justify-center">
                <button class="form-submit" type="submit">Connexion</button>
            </div>

            <p class="text-center">Pas inscrit ? <a href="{{ path("app_register") }}" class="page-link">Inscription</a></p>
        </form>
    </section>
{% endblock %}
