{% extends 'base_form.html.twig' %}

{% block title %}Inscription | {{ parent() }}{% endblock %}

{% block body %}
    <section class="max-w-xl w-full grid gap-8">
        <a href="{{ path('app_home') }}" class="w-32 m-auto">
            <img src="{{ asset("uploads/logo.svg") }}" alt="">
        </a>
        <h2 class="text-center">Inscription</h2>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr': {'class': 'grid gap-4'}}) }}

            <div>
                {{ form_label(registrationForm.email, 'Votre email') }}
                {{ form_widget(registrationForm.email) }}
            </div>
            <div>
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            <div class="flex items-center justify-between">
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                        {{ form_widget(registrationForm.agreeTerms) }}
                    </div>
                    <div class="ml-3">
                        {{ form_label(registrationForm.agreeTerms) }}
                        <label for="remember">J'accepte les conditions
                            générales d'utilisation</label>
                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                {{ form_widget(registrationForm.submit) }}
            </div>
            <p class="font-light text-center">
                Déjà inscrit? <a href="{{ path("app_login") }}"
                                 class="page-link">Connexion</a>
            </p>
        {{ form_end(registrationForm) }}
    </section>

{% endblock %}
